#main-nav {
    background-color: #eee;

    ul {
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin: auto;
        padding: 0;
        list-style-type: none;
    }
}

#main-footer {
    background-color: #eee;

    section {
        display: flex;
        justify-content: space-around;
        width: 50%;
        margin: auto;
    }
}

#teaser-section {

    article {
        width: 70%;
        max-width: 1200px;
        margin: auto;
        padding: 1rem 0;
        color: #fff;

        p {
            color: #8fa7bf;
            font-size: 40px;
            text-align: center;
            font-style: italic;
        }
    }
}